@page "/todoItems"
@inject ITodoItemService TodoItemService
@inject NavigationManager NavigationManager

<PageTitle>To Do List - To Do App</PageTitle>

<div class="px-3 py-1">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-dark">To Do List</h2>
        </div>
        <div class="col-6 text-end">
            <button class="btn btn-primary" @onclick="CreateNewTask"><span class="oi oi-plus" aria-hidden="true"></span>&nbsp; Add new Task</button>
        </div>
    </div>
</div>
<br />
<table class="table table-striped" width="100%">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Description
            </th>
            <th>
                Date
            </th>
            <th>
                Priority
            </th>
            <th>
                Done
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var todoItem in TodoItemService.TodoItems)
        {
            <tr>
                <td width="20%">
                    @todoItem.Name
                </td>
                <td width="20%">
                    @todoItem.Description
                </td>
                <td width="20%">
                    @todoItem.DateAndTime
                </td>
                <td width="20%">
                    @todoItem.Priority
                </td>
                <td width="20%">
                    @if (@todoItem.isDone)
                    {
                        <span class="oi oi-check" aria-hidden="true"></span>
                    }
                    else
                    {
                        <span class="oi oi-x" aria-hidden="true"></span>
                    }
                </td>
                <td>
                    <div class="w-75 btn-group" role="group">
                        <button class="btn btn-primary rounded mx-2 text-center" @onclick="(() => ShowTodo(todoItem.Id))">
                            <i class="oi oi-pencil"></i> &nbsp; Edit
                        </button>
                        <button class="btn btn-danger rounded mx-2 text-center">
                            <i class="oi oi-trash"></i> &nbsp; Delete
                        </button>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    protected override async Task OnInitializedAsync()
    {
        await TodoItemService.GetTodoItems();
    }

    void ShowTodo(int id)
    {
        NavigationManager.NavigateTo($"todo/{id}");
    }

    void CreateNewTask()
    {
        NavigationManager.NavigateTo("/todo");
    }
}
